yfinance
pandas
https://github.com/xgboosted/pandas-ta-classic/archive/master.zip
FinMind
requests
selenium
gspread
oauth2client
webdriver-manager
python-dateutil
google-generativeai
gspread-formatting
openpyxl
